.header {
    background-color: $color-grey-dark-1;
    grid-column: full-start / col-end 6;
}

.realtors {
    background-color: $color-secondary;
    grid-column: col-start 7 / full-end;
}

.homes {
    grid-column: center-start / center-end;
    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
}

.features {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    // grid-template-columns: repeat(3, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 6rem;
    align-items: start; 
}

.gallery {
    background-color: $color-grey-dark-1;
    grid-column: full-start / full-end;
}

.footer {
    background-color: $color-secondary;
    grid-column: full-start / full-end;
}